services:
  mariadb:
    build: ./requirements/mariadb
    #restart: always
    env_file: .env
    volumes:
      - mariadb_data:/var/lib/mysql
    ports:
      - "3306:3306"
volumes:
  mariadb_data:
